# Twitter API Credentials
# Get these credentials at https://developer.twitter.com/en/portal/dashboard

TWITTER_API_KEY=OLIMegYF5hsj9F1oYdztEEHxH
TWITTER_API_SECRET=sdepPk5WUbmLXpHzcum0Linja16p6cpf0WgAnxmJx4x3nj7XGj
TWITTER_ACCESS_TOKEN=AAAAAAAAAAAAAAAAAAAAABsC6wEAAAAA%2FRWLlvBuKatJXS6ZWscDGZ6Hg14%3DuAtodDK8ukH0iE7VK5xvfpNdPLuj4zDb1YHirKBs42JVGdkFxU
TWITTER_ACCESS_SECRET=your_access_secret_here
Access Token 1589547243689885701-qtIQ3nKAopqmshX65Ftepqfh4xtsyW
Access Token Secret sHvVCVaqSZkf57wni2u1z5n3Ae1AG9we41lIDiKr7biZs